@model IndexViewModels
@{
    ViewBag.Title = "Home Page";
}

<style>
    .content {
        margin-top:20px;
    }
</style>

<div class="row content">
    <div class="col-md-8">
        
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data", name = "forms" }))
        {
            @Html.TextBoxFor(model=>model.SearchCondition,Model.SearchCondition,new { @style = "margin-top:20px;" })
            <button class="btn btn-primary" type="submit">搜索</button>
        }
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>PhoneNumber</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.List)
                {
                <tr id="tr@(item.id)">
                    <td>@item.Name</td>
                    <td>@item.Address</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Email</td>
                    <td>
                        <button onclick="Edit(@(item.id))" style="margin-right:10px">修改</button>
                        <button onclick="Delete(@(item.id))" >刪除</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
       <div id="info">
           @Html.Partial("~/Views/Home/_EditInfo.cshtml",Model.DefaultSingle)
       </div>
    </div>
   
</div>

<script>

    function Delete(id)
    {
        $.post("@Url.Action("Delete", "Home")",
        {id:id},
        function () {
            alert('刪除成功!!');
            $('#tr' + id).remove();
        });
    }
    function Edit(id)
    {
        $.post("@Url.Action("_EditInfo", "Home")",
        {id:id},
        function (result) {
            $("#info").html(result);
        });
    }
</script>

@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}